body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    overflow: hidden;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
}